{% extends 'base.html.twig' %}
{% block title %}
	Hello HomeController!
{% endblock %}
{% block body %}
	<header class="bg-danger">
		<!-- place navbar here -->
	</header>
	<main class="vh-100 bg-primary">
	
	</main>
	<footer class="bg-danger">
		<!-- place footer here -->
	</footer>

{% endblock %}
